// Scss variables

// General base

img {
  max-width: 100%;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "NeutraTextTF";
  color: #1b1b1b;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

h2 {
  text-align: center;
}

button {
  cursor: pointer;
}

h2,
h3,
h4,
p {
  cursor: default;
}
